@import url("fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
}

h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  text-align: center;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  gap: 16px;
}

.col-3 {
  width: 25%;
}

.col-4 {
}

.col-5 {
}

.header {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
/* container OFFER */

.offer {
  padding-top: 120px;
  padding-bottom: 120px;
}

.offer__title {
  margin-bottom: 20px;
}

.offer__line {
  border: none;
  background: #f5bd41;
  width: 100px;
  height: 4px;
  margin: 0 auto 80px;
}

.offer__col {
  text-align: center;
}

.offer__img-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  height: 100px;
  width: 100px;
}

.offer__icon {
  fill: #3077c6;
}

.offer__icon--sup {
  width: 75px;
  height: 92px;
}

.offer__icon--com {
  width: 100px;
  height: 100px;
}

.offer__icon--book {
  width: 100px;
  height: 67px;
}

.offer__icon--review {
  width: 92px;
  height: 83px;
}

.offer__subtitle {
  font-size: 24px;
  color: #383838;
}

/* container FOOTER */
.container {
  max-width: 1264px;
  margin: 0 auto;
}

.footer {
  background: #10367c;
  width: 100%;
  margin: 0 auto;
}

.footer__row--column {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 40px;
}

.footer__column {
  width: 33.3%;
  color: #ffffff;
  list-style: none;
  font-size: 20px;
  padding-left: 0;
}

.subtitle {
  font-weight: 500;
}

.list {
  font-size: 20px;
  width: max-content;
  padding-bottom: 24px;
}

.copyright {
  padding-bottom: 120px;
  width: 350px;
  color: #ffffff;
  line-height: 1.6;
  font-weight: 400;
  font-size: 14px;
}
