@import url("fonts.css");

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #383838;
  font-size: 14px;
}


/*=====Top====== */

.wrap-top {
  width: 100%;
  background: url("../image/top/background.svg") center no-repeat;
  background-size: cover;
}

/*=====Container=======*/

.container {
  max-width: 1264px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.top {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 120px;
}

/*======Header=======*/

.header {
  display: flex;
  gap: 680px;
  height: 40px;
  margin-bottom: 195px;
}

.header__logo {
  font-size: 40px;
  font-weight: 600;
  color: #3077c6;
}

.header__nav {
  display: flex;
  gap: 48px;
}

.nav__tab {
  display: flex;
  gap: 24px;
}

.nav__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.1s linear;
  position: relative;
}

.nav__link:after {
  content: "";
  display: none;
  width: 100%;
  height: 2px;
  background-color: #f5bd41;
  z-index: 1;
}

.nav__link:hover {
  text-decoration: #f5bd41;
}

.nav__link:hover:after {
  display: block;
}

.nav__icon {
  display: flex;
  gap: 24px;
}

.main__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
  color: #ffffff;
  margin-bottom: 100px;
}

/*======Search=======*/

.main__search {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
}

.label {
  display: flex;
  gap: 221px;
}

.label__row {
  font-size: 18px;
  color: #ffffff;
  padding-left: 24px;
  margin-bottom: 24px;
}

.city {
  background-color: #f3f3f4;
  border: none;
  border-radius: 8px;
  color: #383838;
  font-weight: 400;
  font-size: 18px;
  width: 467px;
  height: 64px;
  padding-left: 20px;
  cursor: pointer;
}

.date {
  background-color: #f3f3f4;
  max-height: 64px;
  border: none;
  border-radius: 8px;
  color: #383838;
  font-weight: 400;
  font-size: 18px;
  width: 259px;
  height: 64px;
  padding-left: 20px;
  cursor: pointer;
}

.setting {
  background-color: #f3f3f4;
  max-height: 64px;
  border: none;
  border-radius: 8px;
  color: #383838;
  font-weight: 400;
  font-size: 18px;
  width: 314px;
  height: 64px;
  padding-left: 20px;
  cursor: pointer;
}

.search {
  width: 192px;
  background-color: #3077c6;
  border: 1px solid #000000;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 20px 57px;
  cursor: pointer;
}

.input:hover {
  border: 3px solid #f5bd41;
  border-radius: 8px;
  transition: border 0.1s linear, border-radius 0.1s linear;
}

.input--date.active {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

/* =====App===== */

.page__container--app {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 120px auto 0;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  gap: 16px;
}

.col-3 {
  width: 25%;
}

.col-4 {
}

.col-5 {
}

/*======Offer=======*/

.offer {
  height: 570px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section__title.active {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  text-align: center;
  margin-bottom: 84px;
  cursor: pointer;
}

.section__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  text-align: center;
  margin-bottom: 104px;
}

.section__title.active:after {
  content: "";
  display: block;
  border: none;
  background: #f5bd41;
  width: 100px;
  height: 4px;
  margin: 20px auto;
  position: relative;
}

.offer__col {
  text-align: center;
}

.offer__img-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  height: 100px;
  width: 100px;
}

.offer__icon {
  fill: #3077c6;
}

.offer__icon--sup {
  width: 75px;
  height: 92px;
}

.offer__icon--com {
  width: 100px;
  height: 100px;
}

.offer__icon--book {
  width: 100px;
  height: 67px;
}

.offer__icon--review {
  width: 92px;
  height: 83px;
}

.offer__subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #383838;
}

/*==========GUESTS========*/

.guests {
  background-color: #eaf0f9;
  height: 830px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.guests__row {
  display: flex;
  gap: 16px;
  padding-bottom: 120px;
  position: relative;
}

.guests__col {
  width: 25%;
}

.guests__img {
  padding-bottom: 24px;
}

.guests__subtitle {
  color: #3077c6;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 24px;
}

.guests__text {
  color: #bfbfbf;
  font-size: 24px;
  font-weight: 400;
}

.slide__btn {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 25%;
  z-index: 1;
}

.slide__btn:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}

.slide__btn--after {
  right: -1%;
  transform: rotate(45deg);
}

/*==========DESTINATIONS========*/

.destinations {
  background-color: #ffffff;
  height: 960px;
  padding-top: 120px;
}

.destinations__slide {
  display: inline-flex;
  margin-bottom: 64px;
  overflow: hidden;
  background-color: #f3f3f4;
  border-radius: 8px;
}

.destinations__item {
  border-radius: 8px;
  transition: background-color 0.1s linear;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #383838;
  border: none;
}

.item:hover {
  background-color: #3077c6;
  color: #ffffff;
  border-radius: 4px;

  transition: background-color 0.1s linear, color 0.1s linear;
}

.item-region {
  width: 195px;
  height: 64px;
}

.item-region.active {
  background-color: #3077c6;
  color: #ffffff;
  border-radius: 4px;
}

.item-city {
  width: 195px;
  height: 64px;
}

.item-interest {
  width: 240px;
  height: 64px;
}

.destinations__row {
  display: flex;
  gap: 16px;

  position: relative;
}

.destinations__col {
  width: 25%;
}

.destinations__inner {
  position: relative;
}

.dest-img {
}

.destinations__subtitle {
  color: #3077c6;
  font-size: 24px;
  font-weight: 400;
  margin-top: 25px;
}

.dest-content {
  background: rgba(56, 56, 56, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
}

.dest-content.active {
  opacity: 1;
}

.dest-content:hover {
  opacity: 1;
  transition: opacity 0.1s linear;
}

.btn-book {
  color: #3077c6;
  background: #ffffff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  padding-top: 13px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  position: absolute;
  top: 124px;
  left: 84px;
  z-index: 1;
  width: 128px;
  height: 48px;
}

.arrow-bottom {
  top: 400px;
  left: 588px;
  z-index: 1;
  transform: rotate(90deg);
  position: absolute;
}

/*==========Sing up========*/

.container__sing-up {
  background: #eaf0f9;
  max-width: 1232px;
  min-height: 200px;
  margin: 0 auto;
}

.sing-up__inner {
  display: flex;
  position: relative;
}

.sing-up__icon {
  margin: 57px 24px;
}

.sing-up__content {
  display: block;
}

.sing-up__text {
  font-size: 24px;
  font-weight: 500;
  color: #383838;
  margin-top: 51px;
}

.sing-up__btn {
  text-decoration: none;
  color: #3077c6;
  border: 1px solid #3077c6;
  border-radius: 8px;
  background: #ffffff;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 400;
  transition: background 0.1s linear, color 0.1s linear;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.sing-up__btn:hover {
  background: #3077c6;
  color: #ffffff;
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

/*==========Review========*/

.reviews {
  height: 1160px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.reviews__row {
  display: flex;
  gap: 16px;
  padding-bottom: 120px;
}

.reviews__item {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 760px;
}

.reviews-img {
  position: relative;
}

.img-resort {
  background: url("../image/reviews/resort.svg");
  height: 400px;
}

.img-hostel {
  background: url("../image/reviews/hostel.svg");
  height: 400px;
}

.img-hotel {
  background: url("../image/reviews/hotel.svg");
  height: 400px;
}

.resort__content {
  width: 100%;
  height: 360px;
  background: #eaf0f9;
}

.resort__price {
  background: rgba(56, 56, 56, 0.7);
  width: 100%;
  height: 48px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 16px 260px 11px 24px;
}

.resort-info {
  display: flex;
  justify-content: space-between;
}

.resort-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #3077c6;
  font-weight: 500;
  font-size: 18px;
  margin: 24px 0 24px 24px;
}

.resort-score {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  margin: 24px;
}

.score {
  width: 48px;
  height: 32px;
  background: #10367c;
  color: #ffffff;
  padding: 4px 11px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.members {
  font-weight: 400;
  font-size: 14px;
  color: #bfbfbf;
}

.resort-data {
  display: flex;
  gap: 16px;
  text-align: center;
}

.user-logo {
  width: 64px;
  height: 64px;
  margin-left: 24px;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 9px;
}

.name {
  font-weight: 400;
  font-size: 18px;
}

.country {
  font-weight: 400;
  font-size: 18px;
  color: #bfbfbf;
}

.resort-text {
  font-size: 18px;
  font-weight: 400;
  margin: 17px 24px 66px;
  line-height: 1.2;
}

/*==========FOOTER========*/

.footer {
  background: #10367c;
  width: 100%;
  height: 625px;
  margin: 0 auto;
}

.footer__row--column {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 40px;
}

.footer__column {
  width: 33.3%;
  color: #ffffff;
  list-style: none;
  font-size: 20px;
  padding-left: 0;
}

.subtitle {
  font-weight: 500;
}

.list {
  font-size: 20px;
  width: max-content;
  padding-bottom: 24px;
}

.copyright {
  width: 350px;
  color: #ffffff;
  line-height: 1.6;
  font-weight: 400;
  font-size: 14px;
}
